.flexDirectionRow{
    display: flex;
    flex-direction: row;
}
.flexDirectionColumn{
    display: flex;
    flex-direction: column;
}
.centerAlign{
    display: flex;
    justify-content: center;
    align-items: center;
}