.navContainer{
    position: relative;
    width: 30%;
    height: 100%;
}
.navigationGroup{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.name{
    margin-top: 50%;
}

.resumeButton{
    color:#3e98c7 !important;
    margin: 20px 0px 0px 45px;
    cursor: pointer;
}
.resumeButton:hover{
    color: #16455f !important;
    margin: 20px 0px 0px 45px;
    cursor: pointer;
}
.resumeButton > strong{
    margin-left: 5px;
}

.fileIcon{
    font-size: 20px;
}
@media screen and (max-width: 900px) {
    .navContainer{
        width: 100%;
    }
}




